* {
padding: 0;
margi: 0;
}

body {
font-family: Verdana, sans-serif;
}

div#wrapper {
margin-left: auto;
margin-right: auto;
width: 940px;
}

header {
height: 150px;
margin-top: 25px;
margin-bottom: 25px;
font-size: 2em;
}

header h1 {
text-align: center;
padding-top: 30px;
vertical-align: middle;
font-family: "Times New Roman, serif;
}

main {
font-size: 1.2em;
width: 45%;
float: left;
}

main p {
margin: 7px;
}

asside {
font-size: 1em;
width: 45%;
float: right;
}

fieldset {
border: 0px solid;
}

legend {
font-size: 1.2em;
margin-top: 7px;
margin-bottom: 7px;
}

label {
font-size: 1.2em;
}

input {
margin-left: 5px;
font-size: 1.2em;
}
