

main {
  width: 80%;
  margin:0 auto;
  clear: both;
  padding: 15px;
  float: left;
}

aside{
    float: right;
    width: 20%;
    background-color: white;
    text-align: center;
    clear:both;
}

h3{
    margin-top:5px;
    margin-bottom:2px;
    font-size:1.563em;
    color:#666;
}


h4 {
    padding-left:5px;
    color:#F1948A;
    font-size:1em;
    font-style: normal;
}

main ul {
    list-style-type:circle;
    list-style-position: inside;
    margin-bottom:10px;
}

main li {
  margin-left: 10px;
}

.meal {
  display: block;
  background-color: azure;
}

.meal h3 {
  font-size: 3em;
  margin-left: 10%;
}

.meal h4 {
  font-size: 2em;
  margin-left: 20%;
}

.meal ul {
  font-size: 1.5em;
}

.meal li {
  margin-left:30%;
}

