extends header

block content
  h1= title
  p Welcome to #{title}

    form(id='food' method='GET')
      legend Food Demo
        fieldset
          p
            label Food Name
            input(id='foodName')
          p
            label Grams Per Serving
            input(id='gPerServing')
          p
            label Calories Per Gram
            input(id='cPerGram')
          input(type='butoon' onclick="foodData()" value='Add/Edit')