extend layout

block append scripts
  script(src="/js/foodItemManipulation.js")

block main
  main#food
    form#search(action='/foods/search' name='searchbar' method='GET')
        input(type='text' name='foodName' placeholder='What is for dinner?' size='100')
        input(type='submit' value='Search')
    #foodlist
      .foodlist_item
        a(herf='')
        img.foodicon(src='/img/placeholder.png' alt='Food Icon')

block aside
  aside#food
    ul#foodasidelist
      div.form-popup#myForm
        form(action='/foods' method='GET')
          legend Food Demo
            fieldset
              div
                label Food Name
                input(name='foodName')
              div
                label Grams Per Serving
                input(name='gPerServing')
              div
                label Calories Per Gram
                input(name='cPerGram')
              input(type='submit' class='btn' onclick="foodData()" value='Add/Edit')
              input(type='button' id='closeFormButton' class='btn cancel' value='Cancel')
      li
        button.foodItemManipulation#addItem Add Item
      li
        button.foodItemManipulation#editItem Edit Item
      .form-popup#myDelForm
        form(action='/foods/del' method='GET')
          h1 Delete Food
          label Food Name
          input(type='text' name='foodName')
          br
          input.btn#delFood(type='submit' value='Delete Food')
          input(type='button' id='closeFormButton' class='btn cancel' value='Cancel')
      li
        button.foodItemManipulation#deleteItem Delete Item
