extend layout

block append scripts
  script(src="/js/foodItemGen.js")
  script(src="/js/foodFormHandle.js")


block main
  main#food
    #fooditem
      

block aside
  aside#food
    ul#foodasidelist
      .form-popup#foodAddEditForm
        form(action='' method='GET')
          legend Food Edit
            fieldset
              div
                label Food Name
                input#foodName
              div
                label Grams Per Serving
                input#gPerServing
              div
                label Calories Per Gram
                input#cPerGram
              input.btn#addEditBtn(type='submit' value='Add/Edit')
              button#closeAEForm Cancel
      #foodasidehead
      li
        button.foodItemManipulation#addItem Add Food
      li
        button.foodItemManipulation#editItem Edit Food
      .form-popup#foodDelForm
        form(action='' method='GET')
          legend Delete Food
            fieldset
              div
                label Food Name
                input#delFoodName
          input.btn#delFood(type='submit' value='Delete Food')
          button#closeDelForm Cancel
      li
        button.foodItemManipulation#deleteItem Delete Food
