extends header

block append scripts
  script(src="/js/displayMeals.js")
  script(src="/js/addMeal.js")
  script(src="/js/editMeal.js")
  link(rel='stylesheet', href='/stylesheets/journalStyles.css')
  
block content
  body
    main  
      h1= title
      
      button(id="addMeal") Add Meal
      div.form-popup#myForm
        form.form-container(action="../api/v1/meals/newMeal" method="post")
          h1 Add Meal
          label(for="date")
            b Date
          input(type="text" placeholder="YYYY/MM/DD" name="date" required)
          label(for="meal")
            b Meal
          select(name="mealType")
            option(value="1") Breakfast
            option(value="2") Lunch
            option(value="3") Dinner
            option(value="4") Snack
          br
          br

          label new
          input(type="radio" name="newOrExisting" value="new" checked) 
          label existing
          input(type="radio" name="newOrExisting" value="existing") 


          div#new
            br
            label(for="foodItem")
              b Food Name
            input(type="text" name="foodName")

          div#existing
            br
            select(name="FoodID")
            br
            br

          ul
            li
              label(for="caloriesPerGram")
                b Calories Per Gram
              input(type="number" name="caloriesPerGram" step="0.01")
            li
              label(for="gramsPerServing")
                b Grams Per Serving
              input(type="number" name="gramsPerServing" step="0.01")
            li
              label(for="gramsConsumed")
                b Grams Consumed
              input(type="number" name="gramsConsumed")

          br
          br
          button.btn(type="submit" class="btn") Add Meal
          button.btn.cancel#closeFormButton(type="button") Cancel Add Meal

      button(id="editMeal") Edit Meal
      div.form-popup#editMealDiv
        form.form-container#editMealForm(action="../api/v1/meals/editMeal" method="post")
          button.btn(type="submit" class="btn") Edit Meal
          button.btn.cancel#closeEditFormButton(type="button") Cancel Edit Meal
          select(name="mealType")
            option(value="1") Breakfast
            option(value="2") Lunch
            option(value="3") Dinner
            option(value="4") Snack
          br

          select(name ="meal" id="mealSelector")

      div#mealList
