doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css')
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
      script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
      
  block body
    div.wrapper
      div#header
        a(class='logo' href='/journal')
          h1(class='logo') Food Diary
          nav#primary
            ul
              li 
                a(href='/journal') Home
              li 
                a(href='/journal') Profile
              li 
                a(href='/foods') Foods
              li 
                a(href='/') Login
      div.content
        block main
          main
        block aside
          aside
      footer
        #footer
          table
            tr
              th Our Products
              th More Info
              th Connect
            tr
              td 
                a About US
              td
                a Buy Our Products
              td
                a Contact
            tr
              td
                a Gallery
              td
                a FAQ
              td
                a Site Map
          table
            ul
              li Copyright 2019 &copy;
              li All Rights Reserved
          p#valid
            a(href = "https://validator.w3.org/check?uri=referer") Valid