doctype html
html(lang='en')
  head
    title Registration failure. Please try again.
    link(rel='stylesheet', href='/stylesheets/indexstyle.css')
  body
    h1 Registration failure:
    h3 Please try again.
        a.small(href='/register') Register now